.lz-page{--primary:#2563eb;--secondary:#0f172a;--background:#ffffff;--surface:#f8fafc;--text:#0f172a;--muted:#64748b;--radius:12px;--max-width:1200px;--ref:1200;--font-heading:'Inter', system-ui, sans-serif;--font-body:'Inter', system-ui, sans-serif}
#s-token{--fh:192;--fmh:560;--sbg:var(--surface)}
#e-heading-mr0jnz5{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-hex{--fh:192;--fmh:560;--sbg:#fef3c7}
#e-heading-qjvm2ed{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-sin-color{--fh:192;--fmh:560}
#e-heading-yih5ep7{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-lineal{--fh:192;--fmh:560;--sg1:var(--primary);--sg2:var(--secondary);--sga:135}
#e-heading-tsswjim{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-radial{--fh:192;--fmh:560;--sg1:#f97316;--sg2:#ffffff;--sga:0}
#e-heading-1s58ifm{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-degradado-vacio{--fh:192;--fmh:560;--sbg:var(--muted)}
#e-heading-tctulcw{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-color-con-degradado{--fh:192;--fmh:560;--sbg:var(--primary)}
#e-heading-vnya8f5{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-imagen-https{--fh:192;--fmh:560}
#e-heading-j0j8ehh{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-imagen-biblioteca{--fh:192;--fmh:560}
#e-heading-f9i8mfp{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-imagen-sin-miniatura{--fh:192;--fmh:560}
#e-heading-35uj13j{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-imagen-inexistente{--fh:192;--fmh:560}
#e-heading-axqzdb4{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-imagen-nula{--fh:192;--fmh:560;--sbg:var(--surface)}
#e-heading-j6psmcl{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-imagen-velo{--fh:192;--fmh:560;--ov:0.5}
#e-heading-18ijvsw{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-imagen-parallax{--fh:192;--fmh:560}
#e-heading-qjcx2lv{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-biblioteca-parallax-velo{--fh:192;--fmh:560;--ov:0.35}
#e-heading-adas4cv{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
#s-parallax-sin-imagen{--fh:192;--fmh:560;--sbg:var(--background)}
#e-heading-xd6b5zy{--x:4;--y:40;--w:26.667;--h:80;--ord:1;--z:1;--c:var(--text);--fs:44;--fw:700;--lh:1.1}
